@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');

:root {
    --primary-color: #141821;
    --secondary-color: #104256;
    --tertiary-color: #005861;
    --details-color: #EDB62B;
    --font-color: #EBEBEB;

    --font-primary: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    background: var(--primary-color);
    width: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

section,
header {
    height: 100vh;
    width: 100%;
    padding: 0 10%;
}

.header {
    position: fixed;
    z-index: 3;
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
}

.header-list {
    display: flex;
}

.logo {
    font-family: var(--font-primary);
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
}

.header-item a {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: clamp(0.7rem, 20vw, 1.2rem);
    color: white;
    padding: 10px 12px;
    margin: 0 5px;
    border-radius: 50px;
}

.active {
    background: var(--secondary-color);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    background: var(--primary-color);
}

.about-introducao {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
}

.about-introducao::before {
    content: '';
    position: absolute;
    background: var(--secondary-color);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    left: 200px;
    top: -30px;
    z-index: -1;
    box-shadow: -115px -95px 0 -70px var(--secondary-color),
        -190px -95px 0 -80px var(--secondary-color);
}

.about-nome {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: clamp(1rem, 20vw, 4rem);
    word-wrap: break-word;
    color: var(--font-color);
}

.about-subtitle {
    font-family: var(--font-primary);
    color: var(--font-color);
    font-style: 300;
    font-size: 1.3rem;
    letter-spacing: 2.5px;
}

.about-frase {
    position: relative;
    text-align: justify;
    font-family: var(--font-primary);
    font-style: italic;
    color: var(--font-color);
    background: #1c2434;
    padding: 6px 12px;
    border-radius: 20px;
    width: 230px;
    line-height: 25px;
    letter-spacing: 1.6px;
}

.download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--details-color);
    border-radius: 5px;
    color: black;
    font-family: var(--font-primary);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.download-cv svg {
    height: 25px;
    width: 25px;
}

.about-frase::before {
    content: 'Alexander';
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-weight: 500;
    font-style: normal;
    color: var(--font-color);
}

.about-svg {
    display: flex;
    justify-content: end;
    width: 450px;
}


.line-svg {
    position: absolute;
    left: 28%;
    bottom: -50px;
    z-index: 2;
    transform: scale(.9);
}


/* ------------------------------ Section Skills ------------------------------*/



.skills {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);
}

.skills::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    top: -40px;
    left: 0;
    background: var(--secondary-color);
    transform: skewY(2deg);
}

.skills::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -40px;
    left: 0;
    background: var(--secondary-color);
    transform: skewY(-2deg);
}


.skills-graph {
    position: relative;
    display: flex;
    flex-direction: column;
}

.skills-svg {
    animation: rotate 80s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.skill-title {
    font-size: 3rem;
    color: var(--font-color);
    font-family: var(--font-primary);
    font-style: bold;
    text-align: center;
}

.box-skills {
    position: relative;
}

.skill-image {
    position: absolute;
    width: 16%;
    height: 16%;
}

.skill-python {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-flask {
    top: 20%;
    left: 9%;
}

.skill-css {
    right: 25%;
    top: 8%;
}

.skill-html {
    right: 5%;
    top: 45%;
}

.skill-javascript {
    bottom: 8%;
    right: 30%;
}

.skill-scrapy {
    bottom: 20%;
    left: 12%;
}

.skill-box {
    position: relative;
    padding: 20px 40px;
    background: #141821;
    width: 550px;
    height: 55%;
    border-radius: 15px;
    box-shadow: 0 0 50px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.skill-box svg {
    height: 400px;
    width: 400px;
}

.skill-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 90%;
    width: 100%;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.skill-item svg {
    height: 40px;
    width: auto;
}

.skill-item p {
    color: var(--font-color);
    font-size: 1.9rem;
}

.detail-skill {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    left: 40%;
}

.detail-skillnext {
    position: absolute;
    width: 200px;
    height: 90%;
    top: 72%;
    right: 33%;
    z-index: 2;
    transform: rotate(5deg);
}


/* ------------------------------ Section Works ------------------------------*/


.works {
    position: relative;
    margin-top: 370px;
    background: linear-gradient(180deg, #00727D -3.17%, rgba(0, 114, 125, 0) 96.74%);
    height: 300vh;
    padding-top: 50px;
}

.works-introducao {
    width: 100%;
    margin-bottom: 10%;
}

.works-title {
    font-family: var(--font-primary);
    font-style: bold;
    color: var(--font-color);
    font-size: 3rem;
    text-align: center;
}

.works-subtitle {
    text-align: center;
    color: var(--font-color);
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 1.3rem;
}


/* ---------- CARD PROJECT AGIOTABOT --------- */


.project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-bottom: 50px;
}

.project-division {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.project-intro {
    width: 240px;
    margin: 50px 50px;
}

.project-title {
    font-size: 2rem;
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 20px;
}

.project-resume {
    font-size: .9rem;
    font-weight: 500;
    color: var(--font-color);
    font-family: var(--font-primary);
    letter-spacing: 2px;
}

.format-image {
    position: relative;
    border-radius: 25px;
}

.format-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
}

.project-appconvert .format-image::before {
    transform: rotate(13deg);
}

.project-appconvert .form-project {
    transform: rotate(5deg)
}

.form-project {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    height: 400px;
    width: 580px;
}


.project-appconvert .form-project img {
    position: relative;
    bottom: 15%;
    right: 15%;
    height: 520px;
}

.work-icon {
    position: absolute;
    top: 0;
    left: 55px;
    transform: scale(.8);
}

.project svg {
    bottom: 0;
}

.project svg {
    position: absolute;
    bottom: -100px;
    width: 170px;
}

.first-svg-work {
    left: 50%;
    transform: rotate(270deg);
}


.second-svg-work {
    left: 30%;
    transform: rotate(30deg);
}


/* ---------- CARD PROJECT AGIOTABOT --------- */

.project-agiotabot {
    top: 150px;
    flex-direction: row-reverse;
}

.project-agiotabot .project-division {
    justify-content: start;
}

.project-agiotabot .format-image::before {
    transform: rotate(-13deg);
}

.project-agiotabot .form-project {
    transform: rotate(-5deg)
}

.project-agiotabot .form-project img {
    position: relative;
    bottom: 0px;
    right: 20px;
    height: 400px;
}


/* ---------- CARD PROJECT AGIOTABOT --------- */


.project-sendfiles {
    top: 300px;
}

.project-sendfiles .format-image::before {
    transform: rotate(13deg);
}

.project-sendfiles .form-project {
    transform: rotate(5deg)
}

.project-sendfiles .form-project img {
    position: relative;
    bottom: 10px;
    right: 42px;
    height: 420px;
}

.detail-worknext {
    position: absolute;
    bottom: -105vh;
    right: 30%;
    width: 300px;
}


/* ----------------------------- Section Contact-----------------------------*/


.contact {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 60vh 0px 100px 0;
}

.contact-box {
    position: relative;
    top: 80px;
    display: flex;
    height: 500px;
    width: 750px;
    border-radius: 15px;
    background: #101010;
}

.box-image {
    position: relative;
    height: 100%;
    width: 60%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    background: var(--details-color);
}

.box-image img {
    position: relative;
    bottom: 50px;
    right: 70px;
    height: 115%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: 20px 0;
}

.contact-title {
    font-family: var(--font-primary);
    color: var(--font-color);
    text-transform: uppercase;
    font-style: bold;
    font-size: clamp(1rem, 5vw, 2.2rem);
    letter-spacing: 3px;
    padding: 0px 0px 8px 0px;
    background: linear-gradient(transparent 95%, var(--details-color) 95%);
    margin-bottom: 40px;
    text-align: center;
}

.contact-form input,
textarea {
    box-sizing: border-box;
    outline: none;
    font-size: 1.4rem;
    max-height: 150px;
    width: 65%;
    background: none;
    color: var(--font-color);
    padding-left: 10px;
    font-family: var(--font-primary);
    font-weight: 400;
    border: none;
    border-radius: 0 15px 15px 0;
}

.contact-form input:focus,
textarea:focus {
    caret-color: transparent;
    color: white;
    background: linear-gradient(90deg, var(--details-color) 1%, transparent 1%);
}

input[name="nome"],
input[name="email"] {
    height: 40px;
}

.btn-enviar {
    letter-spacing: 0.2em;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--details-color);
    height: 45px;
    width: 130px;
    border: 2px solid var(--details-color);
    font-family: var(--font-primary);
    font-weight: 500;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    cursor: pointer;
}

.btn-enviar:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, var(--details-color), purple);
    content: '';
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    will-change: width;
}

.btn-enviar:hover:after {
    width: 100%;
}

.btn-enviar:hover {
    color: #000;
}


.contact-social {
    position: absolute;
    background: var(--details-color);
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    height: 300px;
    width: 55px;
    border-radius: 50px;
}

.contact-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 5px 0;
}

.contact-item a svg {
    fill: black;
    width: 44px;
    transition: .5s;
}

.contact-item:nth-child(1):hover svg {
    fill: white;
}

.contact-item:nth-child(2):hover svg {
    fill: #1DA1F2;
}

.contact-item:nth-child(3):hover svg {
    fill: #E4405F;
}

.contact-item:nth-child(4):hover svg {
    fill: #0A66C2;
}


/* ------------------------- MEDIA QUERIES ----------------------- */


@media screen and (max-width: 430px) {
    .header {
        justify-content: center;
        width: 100vw;
    }

    .logo {
        display: none;
    }

    .line-svg,
    .about-svg,
    .detail-skill,
    .detail-skillnext,
    .work-icon,
    .works svg {
        display: none;
    }

    .skills {
        flex-direction: column;
    }

    .skill-image {
        width: 16%;
        height: 16%;
    }

    .box-skills {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100vw;
        margin: 0 auto;
    }

    .skill-box {
        flex-direction: column;
        width: 95vw;
        height: 500px;
        gap: 30px;
    }

    .form-project {
        width: 90vw;
        height: 30vh;
    }

    .works {
        height: 260vh;
    }

    .project {
        flex-direction: column;
        border-bottom: 1px solid rgba(223, 223, 223, 0.4);
    }

    .project-appconvert .form-project img {
        height: 39vh;
    }

    .project-agiotabot .form-project img {
        height: 30vh;
    }

    .project-sendfiles .form-project img {
        height: 32vh;
        right: 5%;
        bottom: 3%;
    }

    .project-agiotabot {
        top: 0;
    }

    .project-sendfiles {
        top: 0;
    }

    .contact {
        margin: 20vh 0px 100px 0;
    }

    .contact-box {
        height: 55%;
        width: 95vw;
    }

    .contact-form input,
    textarea {
        width: 95%;
        margin-left: 5px;
    }

    .contact-social {
        right: 50%;
        top: 100%;
        transform: translate(50%, 20%);
        height: 55px;
        width: 300px;
    }

    .contact-lista {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-height: 800px) {
    .contact {
        margin: 60vh 0px 100px 0;
    }
}